/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* BACKGROUND */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
body {
    margin: 0;
    padding: 0;
    
    background-image: url(../media/audi-a7.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #2e3436;
}

.relative { position: relative }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* LOGO */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#audi-logo {
    position: fixed;
    bottom: 10%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    width: 140px;
    height: 80px;

    background-image: url(../media/audi-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* DOOR LOCK INDICATOR */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#door-indicator {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    background: rgba(0,0,0,0.8);
    border-radius: 30px;

    text-align: center;
    color: #fff;
    line-height: 260px;
    font-size: 160px;
}
.door-indicator-off {
    -webkit-transition: all 0.9s;
    -webkit-transform: rotate(3deg) translate(0px,-200px);
    opacity: 0.0;
}
.door-indicator-on {
    -webkit-transition: all 0.8s;
    -webkit-transform: rotate(0deg) translate(0px,0px);
    opacity: 1.0;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* DOOR LOCK GUI */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#door-menu {
    position: fixed;
    bottom: 36%;
    left: 0px;
    width: 100%;
    text-align: center;
}
#door-unlock,
#door-lock {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    display: inline-block;
    padding: 0 30px;
    width: 150px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 22px;
    line-height: 64px;
    border: 0;
    outline: 0;
    font-family: "Helvetica Neue";
}
#door-unlock:active,
#door-lock:active {
    box-shadow:
        0px 0px 20px 1px rgba(0,0,0,0.9),
        inset 0px -14px 0px -10px #04dba3;
}
#door-unlock {
    border-radius: 500px;
    background-color: #fff;
    color: #f45245;
}
#door-lock {
    border-radius: 500px;
    background-color: #f45245;
    color: #fff;
}

